.input {
  height: 50px;
  width: 80%;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  background: none;
  border: none;
  outline: none;
  flex: 1;
  margin: 0 15px;
}

input::placeholder {
  font-size: 15px;
}

button {
  margin-right: 8px;
  background-color: rgb(213, 214, 214);
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 50px;
}

form {
  display: flex;
  flex: 1;
}
